<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"> -->

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<title>Blog</title>

</head>
<body class="bg-dark">
	<div class="col-lg-12">
		{% include 'user_blog/navbar.html' %}
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{% block msg %}

				{% endblock msg %}
			</div>
		</div>
	</div>

	<div class="row">
		{% block side %}

		{% endblock side %}

		{% block content %}
		
		{% endblock content %}
	</div>
	<!-- Option 1: JQuery JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

	<!-- <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script> -->
	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!-- <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.js' %}"></script> -->
</body>
</html>